*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----Navbar----*/
.navbar{
    position: sticky;
    top: 0;left: 0;right: 0;
    z-index: 10;
}
.navbar-nav a{
    font-size: 18px;
}

.mobile-nav{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: antiquewhite;
    z-index: 10;
}
.close{
    padding: 5px 15px;
    border: 2px solid;
    border-radius: 10%;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 10px;
}

/*----Cart----*/
.hero{
    width: 100vw;
    height: 550px;
    position: relative;
}
.card{
    width: 100%;
    height: 100%;
}
.card-img{
    position: absolute;
    width: 100%;
    height: 100%;
}